body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}







.frame {
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow: hidden;
  position: relative;
  color: white;
  margin: 2em;
  padding-top: 2em;
  border-radius: 2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75), 0 8px 30px rgba(0, 0, 0, 0.5);
}
.frame:before {
  content: "";
  display: block;
  width: 4em;
  height: 0.6em;
  margin: 0 auto;
  z-index: 10;
  border-radius: 10em;
  mix-blend-mode: overlay;
}
.frame-header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 2rem;
}
.frame-header .image {
  margin-right: 1.5em;
}
.frame-header .image > img {
  width: 50px;
  border-radius: 0.5em;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.4);
}
.frame-header .info .title {
  font-size: 1.8rem;
}
.frame-header .info .subtitle {
  font-size: 1.2rem;
  margin-top: 0.25em;
}
.frame-lyrics {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  padding: 2rem;
  padding-top: 0;
  font-size: 2rem;
  overflow-y: auto;
}
.frame-lyrics > div {
  color: rgba(255, 255, 255, 0.75);
}
.frame-lyrics > div + div {
  margin-top: 1.4em;
}
.frame-lyrics > div.active {
  color: white;
  font-size: 3rem;
  margin-top: 0.8em;
}
.frame-lyrics > div:not(.active) {
  filter: blur(0.05px);
}
.frame-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: 2em;
}
.frame-bg .bg-color, .frame-bg .bg-black {
  width: 200%;
  position: absolute;
  border-radius: 100em;
  animation: rotate 35s linear infinite;
}
.frame-bg .bg-color {
  right: 0;
  top: 0;
  filter: blur(40px);
  z-index: 10;
  mix-blend-mode: luminosity;
}
.frame-bg .bg-black {
  left: 0;
  bottom: 0;
  filter: blur(40px);
  z-inxed: 1;
  animation-direction: reverse;
  animation-delay: 10s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

